// Colors
$background-color: #CBF2FF;
$background-color-inverse: #000000;
$color-text-inverse: #ffffff;
$color-primary: #2FA4D7;

// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;

// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;