body {
    background-image: url("../..//src/assets/images/vecteezy_illustration-abstract-sky-clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #CBF2FF;
}