@import "abstracts/variables";
@import "components/catCard";

body {
    background-image: url("../..//src/assets/images/vecteezy_illustration-abstract-sky-clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $background-color;
}

main {
    padding: 2rem;
    margin: 0 auto;
    max-width: 80rem;
}